<!DOCTYPE html>
<html>
<head>
  <title>Rgitlog</title>
  <%= stylesheet_link_tag    "rgitlog/application", media: "all" %>
  <%= javascript_include_tag "rgitlog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
